<div class="itemsummary">
	<div class="itemsummary-inner closemodal">
	{{#item}}
		<a class="close"><i class="icon-remove icon-white"></i></a>
		<div class="item-name">{{item_name}}</div>
		<img src="{{item_image}}">
		<div class="item-desc">
			<h1 class="item-price">$ {{item_price}}{{#if quantity}}<span>({{quantity}}x)</span>{{/if}}</h1>
			<div class="item-description">{{item_description}}</div>
		</div>
		<div class="clearfix"></div>
		a
	{{/item}}
	</div>
</div>